

body {
    background-color:#555;
}

.dashboard-widget {
    background-color: #303030;
    text-align: center;

    height: 50px;
    width: 100%;
    line-height: 50px;
    font-size: 1.5em;
    color:azure;
    margin: 0 auto;

    margin-bottom: 3px;
}
#points-wrapper {
    background-color: #303030;
    text-align: center;
    width: 100%;
    height: 75px;
    margin: 0 auto;

    color: azure;
    font-size: large;
}

#points-wrapper #points {
    width: 100%;
    height: 100%;
    line-height: 75px;
    font-size: 2em;
}


* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#coolDownBar{
    height: 20px;
    background-color: #909090;
}

.upgrade {
    line-height: 50px;
    color:#CECECE;
    background-color: #303030;
    height: 50px;
    width: 100%;
    padding-left:10px;
    padding-right:10px;

    margin-bottom:5px;
}

#reduceCooldownUpgrade{
}
